<div class="coc7 chat-card damage">

  <header class="card-header flexcol">
    <div class="flexrow">
      {{#if displayActorOnCard}}
        <img class="open-actor" data-actor-key="{{actorKey}}" style="flex: none;" src="{{actorImg}}" title="{{name}}" width="36" height="36" />
      {{/if}}
      <h3 style="text-align: center;font-weight: bolder;" class="item-name card-title">{{item.name}}</h3>
    </div>

    <div class="card-content">
      {{{weapon.system.description.value}}}
    </div>

    <div class="options gm-select-only">
      {{#if hardrolled}}
        {{#if critical}}
          <span class='tag' title="{{localize 'CoC7.CriticalTitle'}}">{{localize 'CoC7.Critical'}}</span>
          {{#if impale}}
            <span class='tag' title="{{localize 'CoC7.ImpaleTitle'}}">{{localize 'CoC7.Impale'}}</span>
          {{/if}}
        {{/if}}
      {{else}}
        <span class='ic-switch{{#if critical}} switched-on{{/if}}' data-flag='critical' title="{{localize 'CoC7.CriticalTitle'}}">{{localize 'CoC7.Critical'}}</span>
        {{#if critical}}
          <span class='ic-switch{{#if impale}} switched-on{{/if}}' data-flag='impale' title="{{localize 'CoC7.ImpaleTitle'}}">{{localize 'CoC7.Impale'}}</span>
        {{/if}}
      {{/if}}
    </div>

  </header>

  {{#if rolled}}
    {{{_htmlRoll}}}
    {{#if targetKey}}
      {{#if damageInflicted}}
        <div class='card-result'>{{ localize 'CoC7.DamageInflicted'}} : {{totalDamageString}}</div>
      {{else}}
        <div class="card-buttons gm-visible-only">
          <button data-action="dealDamage">{{ localize 'CoC7.InflictPain' }} ({{totalDamageString}})</button>
        </div>
      {{/if}}
    {{else}}
      <div class='card-result'>{{ localize 'CoC7.TotalDamage' }} : {{totalDamageString}}
        <div class="die-result-overlay-br">
        
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="card-buttons owner-only">
      <button data-action="rollDamage">{{ localize 'CoC7.RollDamage' }}: {{damageFormula}}</button>
    </div>
  {{/if}}
</div>