<div class="footer">
{{#if data.system.flags.locked}}

{{else}}

<div class="attribute {{#unless data.system.attribs.mov.auto}}manual-override{{/unless}}" data-attrib="mov">
    <div class="attribute-label auto-toggle">
        <h2>RUCH</h2>
    </div>
    <div class="attribute-value-AA">
        {{#if data.system.attribs.mov.auto}}
        {{data.system.attribs.mov.value}}
        {{else}}
        <input type="text" name="system.attribs.mov.value" value="{{data.system.attribs.mov.value}}"
            data-dtype="Number" />
        {{/if}}
    </div>
</div>
<div class="attribute {{#unless data.system.attribs.build.auto}}manual-override{{/unless}}" data-attrib="build">
    <div class="attribute-label auto-toggle">
        <h2>Krzepa</h2>
    </div>
    <div class="attribute-value-ZZ">
        {{#if data.system.attribs.build.auto}}
        +{{data.system.attribs.build.value}}
        {{else}}
        <input type="text" name="system.attribs.build.value" value="{{data.system.attribs.build.value}}"
            data-dtype="Number" />
        {{/if}}
    </div>
</div>
<div class="attribute {{#unless data.system.attribs.db.auto}}manual-override{{/unless}}" data-attrib="db"
    data-roll-formula="{{data.system.attribs.db.value}}">
    <div class="attribute-label auto-toggle">
        <h2>MO</h2>
    </div>
    {{#if data.system.attribs.db.auto}}
    <div class="attribute-value-RR">+{{data.system.attribs.db.value}}</div>
    {{else}}
    <div class="attribute-value-RR"><input type="text" name="system.attribs.db.value"
            value="{{data.system.attribs.db.value}}" data-dtype="String" /></div>
    {{/if}}
</div>
{{/if}}